<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">I am a senior technical engineer focusing on IT technology research and development for more than 20 years.
                     I am willing to provide excellent, convenient and safe technology solutions.
                    I have worked in Hunan Research Institute of Posts and telecommunications, Datang Telecom Technology & Industry Group, Scientific Games  Co., Ltd., STATE GRID E-COMMERCE CO. STATE GRID FIN-TECH GROUP , etc. I like to share the fruits of their own development!</p>
                <a href=https://play.google.com/store/apps/details?id=com.darkvaults.android class="btn btn-default btn-xl">Google Play</a>
            </div>
        </div>
    </div>
</section>
