<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>Data Protection</h3>
                    <p class="text-muted">login information, credit cards, bank accounts, stocks, funds, digital currency, mailbox, wireless routing, insurance, driver's license, passport, etc.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-photo wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Photos Protection</h3>
                    <p class="text-muted">Private personal photos can be encrypted and stored!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-camera wow bounceIn text-primary"></i>
                    <h3>Encryption camera</h3>
                    <p class="text-muted">You can take pictures with your own encryption camera. The camera has a variety of filter effects. Photos are automatically encrypted and saved without leakage.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Pseudo Space</h3>
                    <p class="text-muted">Can create pseudo-space to prevent the disclosure of personal real information when forced!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-compass wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Disguise</h3>
                    <p class="text-muted">Can make the program disguise as a compass and other applications, hide real applications and functions!</p>
                </div>
            </div>
        </div>
    </div>
</section>
